.cmSong--fontSize-5 .cmLine {
  font-size: 0.5em;
  line-height: 1.15em;
}
.cmSong--fontSize-4 .cmLine {
  font-size: 0.6em;
  line-height: 1.25em;
}
.cmSong--fontSize-3 .cmLine {
  font-size: 0.7em;
  line-height: 1.35em;
}
.cmSong--fontSize-2 .cmLine {
  font-size: 0.8em;
  line-height: 1.45em;
}
.cmSong--fontSize-1 .cmLine {
  font-size: 0.9em;
  line-height: 1.55em;
}
.cmSong--fontSize1 .cmLine {
  font-size: 1.1em;
  line-height: 1.75em;
}
.cmSong--fontSize2 .cmLine {
  font-size: 1.2em;
  line-height: 1.85em;
}
.cmSong--fontSize3 .cmLine {
  font-size: 1.3em;
  line-height: 1.95em;
}
.cmSong--fontSize4 .cmLine {
  font-size: 1.4em;
  line-height: 2.05em;
}
.cmSong--fontSize5 .cmLine {
  font-size: 1.5em;
  line-height: 2.15em;
}

.cmTheme-print {
  background-color: white;
}
.cmTheme-print .cmSong {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 13px;
  line-height: 1.65em;
  padding: 10px;
  white-space: pre-wrap;
  color: #333;
  font-size: 12px;
}
.cmTheme-print .cmSong p {
  margin: 0;
}
.cmTheme-print .cmSectionLabel {
  font-weight: bold;
  text-decoration: underline;
}
.cmTheme-print .cmSectionMultiplier {
  font-weight: normal;
  text-decoration: unset;
}
.cmTheme-print .cmTimeSignature {
  font-weight: bold;
}
.cmTheme-print .cmKeyDeclaration {
  font-weight: bold;
}
.cmTheme-print .cmBarSeparator {
  opacity: 0.5;
}
.cmTheme-print .cmChordDuration {
  opacity: 0.7;
}
.cmTheme-print .cmSubBeatGroupOpener,
.cmTheme-print .cmSubBeatGroupCloser {
  opacity: 0.8;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
